@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
/* @keyframes borderAnimation {
  0% {
    border-color: #4DC9FE; 
  }
  50% {
    border-color: #00CB6A; 
  }
  100% {
    border-color: #4DC9FE; 
  }
}



@keyframes borderAnimation {
  0% {
    border-color: #4DC9FE; 
  }
  50% {
    border-color: #00CB6A; 
  }
  100% {
    border-color: #4DC9FE; 
  }
}

.border-animated {
  animation: borderAnimation 2s infinite;
  position: relative;
  border: 4px solid transparent; /* Ajusta el grosor del borde */
  /* overflow: hidden; */


.css-button-sliding-to-top--green {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #00CB6A;
  color: black;
}

/* Define el gradiente como fondo */
.css-button-sliding-to-top--green:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-image: linear-gradient(to right, #4DC9FE, #00CB6A); /* Gradiente de colores */
}

/* Cambia el color del texto al pasar el mouse */
.css-button-sliding-to-top--green:hover {
  color: #fff;
}

/* Hace que el gradiente se expanda al pasar el mouse */
.css-button-sliding-to-top--green:hover:after {
  height: 100%;
}




/* .box::before{
  content: "";
  position: absolute;
  width: 170px;
  height: 140%;
  background:linear-gradient(#00CB6A,#4DC9FE);
  animation: rotate 4s linear infinite;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
} */

.border-spin {
  position: relative;
  overflow: hidden;
}

.border-line {
  position: absolute;
  width: 100%;
  height: 3px; /* Grosor de la línea */
  
}

.top-line {
  top: 0;
  background: linear-gradient(to right, #00CB6A, #4DC9FE);
}

.bottom-line {
  bottom: 0;
  background: linear-gradient(to right, #4DC9FE, #00CB6A);
}

@keyframes moveTopLine {
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes moveBottomLine {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(-100%);
  }
}

.top-line {
  animation: moveTopLine 4s linear infinite;
}

.bottom-line {
  animation: moveBottomLine 4s linear infinite;
}
.menu-backdrop-padding {
  padding: 10px; /* ajusta el valor según tu preferencia */
}


/* modal  */
.modal-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0%);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}